@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --yt-text-primary: #FFF;
    --yt-text-secondary: rgb(163, 163, 163);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 6em;
    background-color: rgb(23, 23, 23);
}

/* Navbar */

nav {
    background-color: rgba(33, 33, 33, 0.98);
    height: 4em;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#menu-left, #menu-right {
    display: flex;
}

#menu-left {
    justify-content: space-evenly;
}

#menu-left > * {
    margin-left: 1.5em;
}

#menu-right {
    justify-content: space-evenly;
    margin-right: 2em;
}

nav .burger {
    font-size: 24px;
    width: .8em;
    height: .8em;
    cursor: pointer;
    position: relative;
}

nav .burger .burger-menu {
    width: 100%;
    height: .1em;
    background-color: #FFF;
    position: absolute;
    top: .4em;
}

.burger-menu::before, .burger-menu::after {
    content: '';
    width: 100%;
    height: inherit;
    background-color: inherit;
    display: block;
}

.burger-menu::before {
    transform: translateY(-.27em);
}

.burger-menu::after {
    transform: translateY(.17em);
}

.logo {
    position: relative;
    height: 100%;
    width: 200px;
}

#yt-logo {
    position: absolute;
    height: 1.4em;
    z-index: 1;
    margin-left: 1em;
}

#menu-right > * {
    margin: 0 .75em;
}

.icon {
    height: 100%;
    width: 30px;
    padding-top: .6em;
}

#youtube-paths path {
    fill: #FFF;
}

.yt-icon {
    display: block;
    fill: #FFF;
}

.profile {
    width: 45px;
    height: 45px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 1.3em !important;
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    display: grid;
    max-width: 1600px;
}

/*Player*/

.video-player {
    padding-bottom: 56.25%;
    position: relative;
}

.player iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Video details, buttons */

.player .title {
    color: #FFF;
    font-size: 20px;
    font-family: sans-serif;
    margin: 1.3em 0 .4em 0 ;
}

.player .views {
    color: var(--yt-text-secondary);
    font-family: sans-serif;
    display: none;
}


.likes {
    width: 14em;
    position: relative;
    min-width: 15em;
    margin-left: auto;
}


.btn  svg {
    width: 2em !important;
    display: inline-block !important;
}

.btn svg path{
    fill: rgb(172, 172, 172);
}

.thumb-up, .thumb-down {
    float: left;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(172, 172, 172);
    font-weight: 600;
    font-family: Roboto;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0px 1em;
}

.btn svg {
    margin-right: .5em;
}

.likes progress {
    border-radius: 0;
    background-color: #000;
    color: #000;
    height: .2em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -.7em;
}


.likes ::-webkit-progress-value {
    background-image: linear-gradient(0, #999, #999);
}

.likes ::-webkit-progress-bar {
    background-image: linear-gradient(0, #555, #555);
}


.video-metadata {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    position: relative;
}

.section {
    border-bottom: 1px solid rgb(53, 53, 53);
    margin-bottom: 1em;
    padding-bottom: .6em;
}


.video-header {
    width: 15em;
    position: absolute;
    left: 0;
}

.action-buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: static;
}

/* Description section */

.video-description {
    font-family: sans-serif;
    width: 100%;
    min-height: 10em;
    display: flex;
    align-items: flex-start;
    position: relative;
}


.author-col {
    width: 18em;
}
.author-avatar {
    border-radius: 50%;
    width: 4em;
    margin-right: 1.5em;
}

.channel-details .channel-name {
    padding: .5em 0 .3em;
    color: var(--yt-text-primary);
    font-weight: 600;
}

.channel-details .subscriber-count {
    color: var(--yt-text-secondary);
    font-size: 13px;
}

.video-description .details-col {
    flex: 1;
    min-width: 16em;
}

.video-description .description {
    color: var(--yt-text-primary);
    padding-top: 2em;
}

.subscribe-col {
    right: 0;
}

.subscribe-btn {
    padding: 1em 2em;
    background-color: rgb(236, 0, 0);
    color: var(--yt-text-primary);
    border: none;
    cursor: pointer;
}

.recommended {
    display: flex;
    flex-direction: column;
}

.recommended-video {
    display: flex;
    font-family: sans-serif;
}

.recommended-video-thumbnail {
    position: relative;
    width: 190px;
    height: 92px;
}

.recommended-video-date {
    display: none;
}

.recommended-video-duration {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--yt-text-primary);
    padding: .2em .4em;
    font-size: 12px;
    font-weight: 600;
    bottom: 0;
    right: .4em;
}

.recommended-video-details {
    padding-left: 1em;
    color: var(--yt-text-secondary);
}

.recommended-video-title {
    color: var(--yt-text-primary);
    font-weight: 600;
}

.recommended-video-channel {
    color: var(--yt-text-secondary);
    margin-top: .3em;
} 

.recommended-video-views::after {
    content: '•';
    padding-left: .3em;
}

.recommended > * {
    margin-top: 1em;
    min-width: 18em;
    max-width: 27em;
}

@media only screen and (min-width: 1130px) {
    .container {
        grid-template-columns: 3fr 1fr;
        max-width: unset;
        width: 90%;
        max-width: 1900px;
    }

    .player {
        min-width: 700px;
        flex: 1;
    }

    .recommended {
        margin-left: 1.5em;
    }
    
    .recommended-video-date {
        display: inline;
    }
}

@media only screen and (min-width: 1150px) {
    
    .player .views {
        display: inline;
    }
}

.comment-section p {
    font-family: sans-serif;
    color: var(--yt-text-primary);
    text-align: center;
    padding: 1em 0 5em 0;
}

.comment-section a {
    color: rgb(101, 155, 255);
    text-decoration: none;
}